*,
*:after,
*:before {
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  letter-spacing: 1px;
  overflow: hidden;
  overflow-y: auto;
  letter-spacing: 1px;
}

.dropdown {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 220px;
  background: #fff;
  color: #666;
  border-radius: 4px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1), 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.dropdown li:hover:not(.title) {
  background-color: #efefef;
}

.dropdown strong {
  color: #3E3E3E;
  font-weight: 400;
  display: block;
  margin-bottom: 0.75em;
}

.dropdown li.title {
  font-size: 16px;
  padding: 10px 12px;
  color: #ddbc6d;
}

.dropdown li.divider {
  background-color: #cfcfcf;
  height: 1px;
}

.dropdown li.note {
  background: #f6f6f6;
  border-top: 1px solid #cfcfcf;
  color: #aaa;
  font-size: 12px;
  padding: 12px;
}

.dropdown li label {
  display: block;
  line-height: 36px;
  padding-left: 36px;
}

.dropdown li label > span {
  position: absolute;
  display: inline-block;
  left: 12px;
  margin-top: 12px;
  width: 12px;
  height: 12px;
  border: 1px solid #cfcfcf;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.dropdown li label input {
  display: none;
}

.dropdown li label input[type=checkbox] ~ span {
  border-radius: 2px;
}

.dropdown li label input[type=radio]~ span {
  border-radius: 100%;
}

.dropdown li label input[type=checkbox]:checked ~ span {
  background-color: #ddbc6d;
  border: 1px solid #999;
}

.dropdown li label input[type=radio]:checked ~ span {
  background-color: #ddbc6d;
  border: 1px solid #999;
}